@import 'themes.scss';

@each $theme, $value in $themes {
  [data-theme="#{$theme}"] {
    background-color: map-get($value, backgroundColor);

    header {
      background-color: map-get($value, headerColor);
      nav label {
        border-color: map-get($value, primaryColor);
      }
    }

    h1, h2{
      color: map-get($value, secondaryColor);
    }

    footer {
      background-color: map-get($value, footerColor);
    }
  }
}

* {
  margin: 0;
  paddin: 0;
}
body {
  header {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      ul {
        display: flex;
        list-style: none;
        align-items: center;
      }
      nav {
        grid-column: 12/13;
        display: flex;
      }
  }
}

fieldset {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  border: 0;
  display: inline-flex;
  padding: 0;
  margin: 0px 10px;
  min-width: 60px;
  height: 24px;

  input[type=radio] {
    display: none;
    margin:0;
  }

  input:checked + label {
    background-color: #357edd;
    color: #fff;
  }

  label {
    cursor: pointer;
    padding: 8px 12px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: auto;
  }

  label[for="default"] {
    border-radius: 9999px 0px 0px 9999px;
  }
  label[for="night"] {
    border-radius: 0px 9999px 9999px 0px;
  }
}

.page.page--current {
  visibility: visible;
  position: relative;
}

.page {
  visibility: hidden;
}

@keyframes animationTop {
  0% {transform: translate3d(0,0%,0);}
  35%,
  65% {transform: translate3d(0,100%,0);}
  100% {transform: translate3d(0,200%,0);}
}

@keyframes animationBot {
  0% {transform: translate3d(0,0%,0);}
  35%,
  65% {transform: translate3d(0,-100%,0);}
  100% {transform: translate3d(0,-200%,0);}
}

.revealer--animate {
  animation: animationTop 1.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.revealer {
  background-color: map-get(map-get($themes, 'default'), headerColor);
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 100%;
  z-index: 10;
}
