$themes: (
  default :(
    backgroundColor: #a1dffb,
    headerColor: #f9de59,
    footerColor: #c33124,
    primaryColor: #e8a628,
    secondaryColor: #f98365,
  ),
  light :(
    backgroundColor: #556672,
    headerColor: #ECECE2,
    footerColor: #423930,
    primaryColor: #756C63,
    secondaryColor: #DADEDF,
  ),
  night :(
    backgroundColor: #349B90,
    headerColor: #095473,
    footerColor: #F2D2A2,
    primaryColor: #5B95AA,
    secondaryColor: #B9D6BC,
  ),
);
